@font-face {
    font-family: "CoffeCake";
    src: url(../font/CoffeCake.ttf);
}

*{
    font-family: "CoffeCake",Arial;
}

body{
    background-color:  #EFC3A4;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

h1{
    color: #BE7656;
}

.icone , .logo{
    width: 10vw;
    height: 10vw;
}

.icone:hover{
    transform: scale(1.1);
}

.logo:hover{
    transform: scale(1.1);
    rotate: 90deg;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    color: #BE7656;
    font-size: x-large;
    background-color: #4B1F0E;
    border: 0.3vw solid #BE7656;
    border-radius: 10vw;   
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #BE7656;
    background-color: #4B1F0E;
    border: 0.3vw solid #BE7656;
    border-radius: 10vw;    
}

a{
    color: #BE7656;
    font-size: large;
    text-decoration: none;
}

.retour{
    text-decoration: underline;   
}

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vw;
}

img{
    width: 40vw;
    height: 45vw; 
    border: 0.5vw solid #4B1F0E;
    border-radius: 10vw;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    min-height: 1vw;
    min-width: 5vw;
    background-color:whitesmoke ;
    border: 0.3vw solid #4B1F0E;
    border-radius: 10vw; 
    color: #BE7656;
    font-size: x-large;     
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li{
    padding: 1vw;
}

footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    color: #BE7656;
    background-color: #4B1F0E;
    border: 0.3vw solid #BE7656;
    border-radius: 2vw;

}

@media  all and (max-device-width:800px) {

    .title{
        font-size: xx-large;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icone , .logo{
        width: 10vw;
        height: 10vw;
    }

    a{
        font-size: x-large;
    }

    img{
        width: 60vw;
        height: 65vw; 
        border: 2vw solid #4B1F0E;
        border-radius: 10vw;
    }

    .description{
        font-size: x-large;
    }
    
    footer {
        font-size: large;
    }
}
